/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body{width: 100%;  height: 100%;}
body{font-family: 'Open Sans', sans-serif;}
.col2{width: 50%; float: left;}
.container{max-width: 1366px; width: 100%;}
.section1{
    /*background: url("../img/banner2.jpg");  display: block;  width: 100%;*/
    height: 100%;
    overflow: hidden;
    position: relative;
    /*background-size: cover;*/
}
.section1 .top{   width: 100%; }
.section1 .bottom{position: absolute;bottom: 90px;left: 20px; width: 100%; color: #FFF; }
.section1 .col2{ height: 100%;}
.section1 .col2.background{background: url("../img/banner3.jpg"); background-position: center; background-size: auto 100%;}
.section1 .col2.color{background-color: #2295e1;}
.top h1{position: relative;display: inline-block;float: left;line-height: 0;    margin: 0;     padding: 10px 20px;}
.logo{display: inline-block; background: url(../img/logo4.png);     width: 29px;  height: 52px;
    background-size: cover;background-position: 100% 100%;}
.menu {float: right; padding-right: 10px;}
.menu li{float: left; list-style-type: none;}
.menu li a{display: inline-block; padding: 10px;
    color: #fff; text-decoration: none;}
/*.bottom{width: 100%; height: 50%; overflow: hidden; background: rgba(0,0,0,.2); position: absolute;bottom: 0px; left: 0px;}*/
.owl-carousel{ text-align: center; color: #fff; position: relative; width: 700px; margin: 0 auto;   
    top: 30%;}
/*.owl-carousel .owl-stage{ margin: 0 auto; width: 100% !important;}*/
/*.owl-carousel .owl-item{  width: 100% !important;}*/
.owl-carousel h2, .owl-carousel p{margin: 0;}
.owl-carousel h2{font-size: 48px; font-weight: 300; position: relative;}
.owl-carousel h2:after{content:"";display:block;position: relative; width:200px; height: 1px; background: #65b5ea; margin: 10px auto 10px auto;}
.owl-carousel p{font-size: 18px; margin-top: 30px; margin-bottom: 10px;}
.owl-theme .owl-controls .owl-page span {background: #5ab0e9 ; opacity: 1;}
.owl-theme .owl-controls .owl-page.active span {background: #ecf0f1 ; }
.subscribe {position: relative;  top:148px;  float: right;display:block;width: 380px; margin: 0 auto; transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%); }
.subscribe input{padding: 10px;border: none;}
.subscribe input[type="submit"]{background: #5ab0e9; border: none; color: #fff;    padding: 10px;  }
.subscribe input[type="text"]{border: none;width: 250px ;}
*:focus { outline: 0;  }
section:not(:first-child){ padding: 70px 0; overflow: hidden; }
.section2{background: #171b1e; position: relative; text-align: center;}
.section2 img{width: 200px;}
.section2 h2,.section4 h2{color: #2295e1;}
.section2 p,.section4 p{color: #fff;}
.section2 .feature{position:absolute; top:0px;right:50%; max-width: 100px;    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%); width: auto; letter-spacing: 2px; font-weight: 700;  margin: 0 auto; color: #c2c3c3; background: #414447; font-size: 18px;padding: 5px; text-align:center;}
.section3{text-align: center;}
.section3 img{width: 200px;}
.section4{background: #171b1e url("../img/albums.png"); background-repeat: no-repeat; height: 300px; text-align: center;}
.section4 .col2{background: #171b1e; overflow: hidden; float: right; }
/*.section4 .bg{background: url("../img/albums.jpg"); overflow: hidden;height: 100%;}*/
.section5 {text-align: center; text-align: center;}
.section5 img{border: 20px solid rgba(204,204,204,.2); width: 250px;}
.section5 h2{font-weight: 500;}
.section5 p{color: #999999;}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
